<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>کتاب‌خوار - مشخصات کتاب {{ book.title }}</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'general/css/semantic/semantic.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'general/css/generic-style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'ketabkhor/css/style-book-info.css' %}"/>

    <script src="{% static 'general/js/jquery-3.1.0.min.js' %}"></script>
    <script src="{% static 'general/js/semantic.min.js' %}"></script>
</head>
<body>

<header class="header1">
    <div class="ui menu back-grey-menu no-borders">
        <div class="ui grid container ">
            <div class="ten wide column right aligned">
                <div class="ui row row-margin1">
            <span>فروشگاه اینترنتی کتاب خوار ،
                {% if user.is_authenticated %}
                    سلام {{ user.first_name }} {{ user.last_name }} !
                {% else %}
                    <a href="#">ثبت نام کنید</a>
                    یا
                    <a href="#">وارد شوید</a> </span>
                {% endif %}

                </div>
                <div class="ui row row-margin2">
                    <div class="ui search">
                        <div class="ui simple scrolling fluid search left icon input search-tab">
                            <i class="search icon"></i>
                            <input class="prompt" style="text-align: right" type="text" placeholder="نام کتاب/نام نویسنده/ISPN">
                        </div>
                        <div class="results"></div>
                    </div>
                </div>
            </div>
            <div class="four wide column left aligned">
                <h2 class="logo">کتاب خوار</h2>
            </div>
            <div class="two wide column center aligned">
                <div >
                    <img class="logo-img" src="{% static 'media/photos/general/logo.png' %}">
                </div>
            </div>

        </div>
    </div>
    <div class="ui menu  no-borders " id="menu2">
        <div class="ui container">
            <a class="green header link item">
                <i class="shop icon"></i>
                سبد خرید
            </a>
            <a class=" red link item">
                کتاب فانتزی
            </a>
            <a class="purple link item">
                کتاب فانتزی
            </a>
            <a class="blue link item">
                کتاب فانتزی
            </a>
            <a class="pink link item">
                کتاب فانتزی
            </a>
            <a class="teal link item">
                کتاب فانتزی
            </a>
        </div>
    </div>

</header>


<div class="ui container detail-margin">
    <div class="ui grid container">
        <!-- shopping and pic -->
        <div class="four wide column center aligned">
            <div class="ui small rounded image center aligned">
                <img class="book-info-img" src="/{{ book.pic }}">
            </div>
            <h3 class="ui header">{{ book.price }} تومان</h3>
            <button class="ui orange inverted button link">افزودن به سبد خرید</button>

            {#            TODO the element must check if the book is already in wishlist or not#}
            <button id="add_wishlist" class="ui grey inverted labeled icon button fav-button"> <i class="star icon"></i> افزودن به علاقه مندی ها </button>
            <div class="ui divider"></div>
            <div>
                <h3 class="ui header">امتیاز دهید</h3>
                <div class="ui huge star rating" id="rate-star"></div>
            </div>
        </div>
        <!-- book info -->
        <div class="nine wide column right aligned">
            <h2 class="header">ارباب حلقه ها</h2>
            <p style="font-size: medium"> نوشته شده توسط
                <strong>{{ book.author }}</strong>
            </p>
            {% if book.translator %}
                <p style="font-size: medium"> مترجم
                    <strong>{{ book.translator }}</strong>
                </p>
            {% endif %}
            <div class="ui huge star rating" id="rate-star2"></div>
            <div class="shorten">
                {{ book.description }}
            </div>
            <div class="ui divider info-divider"></div>
            <h3 class="ui header font-bold">اطلاعات بیشتر </h3>
            <p style="font-size: medium"> ناشر : {{ book.publisher }}</p>
            <span> شماره شابک : {{ book.isbn }}</span>
            <div class="ui divider info-divider"></div>
            <!-- recommended cards -->
            <div>
                <h2 class="ui header">کتاب های مرتبط</h2>
                <div class="ui grid container">
                    {% for book in related_books %}
                        <div class="four wide column ">
                            <div class="ui link special cards">
                                <div class="red card" >
                                    <div class="blurring dimmable image">
                                        <div class="ui inverted dimmer">
                                            <div class="content">
                                                <div class="center">
                                                    <a href="{% url 'books:book_details' book.id %}">
                                                        <div class="ui inverted button">مشاهده</div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="/{{ book.pic }}">
                                    </div>
                                    <div class="content">
                                        <a class="header" href="{% url 'books:book_details' book.id %}">{{ book.title }}</a>
                                        <div class="meta"> {{ book.author }} </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="ui divider info-divider"></div>
            <div>

                <div class="ui grid container">
                    <div class="ui two column row">
                        <div class="right floated column">
                            <h2 class="ui header">نقد و بررسی</h2>
                        </div>
                        <div class="left floated column left aligned">
                            <button class="ui grey inverted button link" id="comment">نوشتن نقد جدید</button>
                        </div>
                    </div>
                    <div class="ui row">
                        <div class="ui items">
                            {% for review in book.bookreview_set.all %}
                                <div class="item">
                                    <div class="image">
                                        <img src="/{{ user.userprofile.avatar }}">
                                    </div>
                                    <div class="content">
                                        <a class="header">{{ review.title }}</a>
                                        <div class="meta">
                                            <span>{{ review.text }}</span>
                                        </div>
                                        <div class="description">
                                            <p></p>
                                        </div>
                                        {#                                        <div class="extra">95/2/3</div>#}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="site-footer">
    <div class="ui vertical footer segment">
        <div class="ui center aligned container">
            <div class="ui  four column grid ">
                <div class="ui row">
                    <div class="two wide right aligned column">
                        <div class="ui animated large relaxed link right aligned list">
                            <h4 class="header bold" style="text-align: right">منو ها</h4>
                            </hr>
                            <a class="item">خانه</a>
                            <a class="item">سرویس ها</a>
                            <a class="item">درباره ما</a>
                            <a class="item">ارتباط با ما</a>
                        </div>
                    </div>
                    <div class="three wide right aligned column">
                        <div class="ui animated large relaxed link right aligned list">

                            <h4 class="header bold"> پروفایل شما</h4>
                            </hr>
                            <a class="item">ورود یا ثبت نام</a>
                            <a class="item">حساب کاربری</a>
                            <a class="item">سبد خرید</a>
                        </div>
                    </div>

                    <div class="five wide right aligned column" >

                    </div>
                    <div class="six wide right aligned column">
                        <h4 class="header">درباره ما</h4>
                        <div>
                            <p>
                                as;kljfrfhgjhkjkllhgcfxdfchhbkjnkahvgsfjas'a
                                a;klfghafs;kljfrfhgjhkjkllhgcfxdfchhbkjnkahvgsfjas'a
                                a;klfgh
                                <br>
                                as;kljfrfhgjhkjkllhgcfxdfchhbkjnkahvgsfjas'a
                                a;klfghaf
                                <br>
                                as;kljfrfhgjhkjkllhgcfxdfchhbkjnkahvgsfjas'a

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical footer2 segment">
        <div class="ui center aligned container">
            <div class="ui grid container">
                <div class="ten wide column right aligned">
                    <div class="ui horizontal large list">
                        <div class="item">
                            <svg class="icon-gmail "><use xlink:href="/static/media/photos/general/icons.svg#gmail"></use></svg></a></li>
                        </div>
                        <div class="item">
                            <svg class="icon-instagram "><use xlink:href="/static/media/photos/general/icons.svg#instagram"></use></svg>
                        </div>
                        <div class="item">
                            <svg class="icon-telegram "><use xlink:href="/static/media/photos/general/icons.svg#telegram"></use></svg>
                        </div>
                    </div>
                </div>
                <div class="six wide column right aligned">
                    <h5 class="ui header copyright" >Copyright © 2016 ketab khaar</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="ui modal" id="comment-modal">
        <i class="close icon"></i>
        <div class="header">
            نوشتن نقد جدید
        </div>
        <div class=" content">
            <div class="content-margin">
            </div>
            <span></span>
            <div class="description">
                <form class="ui form">
                    <div class="three fields">
                        <div class="required field">
                            <label>عنوان</label>
                            <input id="review-title" type="text" placeholder="عنوان نقد">
                        </div>
                    </div>
                    <div class="field">
                        <div class="twelve wide required field">
                            <label>متن</label>
                            <textarea id="review-text" type="text" placeholder="متن نقد"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="actions">
            <div class="ui orange button" id="send-comment-btn">ثبت</div>
            <div class="ui inverted grey button " id="comment-cancel">بازگشت</div>
        </div>
    </div>

</footer>

<!-- jquery script -->

<script src="{% static 'general/js/generic-script.js' %}"></script>
<script>
    $(function(){
        $('.ui.rating')
            .rating({
                initialRating: 0,
                maxRating: 5
            })
        ;
        $('#rate-star')
            .rating('setting', 'clearable', true)
        ;
        $('#rate-star2')
            .rating({
                initialRating: 3,
                maxRating: 5
            })
            .rating('disable')
        ;
        $('.ui.dropdown')
            .dropdown()
        ;
        $('.special.cards .image').dimmer({
            on: 'hover'
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function() {

        $(".shorten-txt").shorten({
            "showChars" : 250,
            "moreText"	: "بیشتر",
            "lessText"	: "کمتر",
        });
    });
</script>

{% if user.is_authenticated %}
    <script>
        $(function() {
            $('#comment-modal')
                .modal('attach events', '#comment', 'show')
                .modal('attach events', '#comment-cancel', 'cancel')
            ;
            $('#send-comment-btn').click(function() {
                $.ajax({
                    url: "{% url 'books:add_book_review' book.id %}",
                    method: 'post',
                    async: false,
                    data: {
                        title: $('#review-title').val(),
                        text: $('#review-text').val(),
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function(data) {
                        if (data.status === "ok") {
                            window.location.href = data.url;
                        }
                        else {
                            console.error('cannot fav');
                        }
                    },
                    error: function() {
                        console.error('eeeeerrrrrrooooorrrrrr');
                    }
                });
            });
            $('#add_wishlist').click(function() {
                $.ajax({
                    url: "{% url 'profiles:add_wishlist' user.id %}",
                    method: 'post',
                    data: {
                        book_id: {{ book.id }},
                        csrfmiddlewaretoken: '{{ csrf_token }}',

                    },
                    success: function(data) {
                        if (data.status === "ok") {
                            $('#add_wishlist').removeClass('grey inverted').addClass('red');
                        }
                        else {
                            console.error('cannot fav');
                        }
                    },
                    error: function() {
                        console.error('eeeeerrrrrrooooorrrrrr');
                    }
                });
            });
        });

    </script>

{% else %}


    <script>
        $(function() {
            $('#add_wishlist').click(function() {
                window.location.href = '/accounts/login/';
            });
            $('#comment').click(function() {
                window.location.href = '/accounts/login/';
            })
        });
    </script>


{% endif %}

<script type="text/javascript" src="{% static 'general/js/header-footer.js' %}"></script>

</body>
</html>