{% extends 'simgun/base.html' %}


{% block title %}
    <title>زنبیل - ورود</title>
{% endblock %}

{% block styles %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'accounts/css/style-login.css' %}"/>
{% endblock %}

{% block content %}

    <div class="ui container login-margin">
        <!-- just a comment -->
        <div class="ui one column grid login-grey" >
            <div class="column">
                <h2>ورود</h2>
                <div class="ui divider"></div>

                <div class="ui center aligned grid">
                    <div class="ten wide column">
                        <form class="ui form" action="{% url 'accounts:user_login' %}" method="post">
                            {% csrf_token %}
                            <div class="ui center aligned grid">
                                <div class="row">
                                    <div class="six wide right aligned column">
                                        {{ login_form.as_p }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="sixteen wide column">
                                        <div class="field">
                                            <div class="ui checkbox">
                                                <label>مرا به خاطر بسپار</label>
                                                <input type="checkbox" tabindex="0">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="sixteen wide column">
                                        <input class="ui orange button" type="submit" value="ورود"/>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="sixteen wide column">
                                        <div class="ui button">رمز عبورم را فراموش کرده ام</div>
                                    </div>
                                </div>
                                <div class="ui divider"></div>
                                <div class="row">
                                    <div class="ui green button">حساب کاربری ندارم (ثبت نام)</div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block scripts %}
    <script>

        $(function(){
            $('.ui.checkbox')
                .checkbox()
        });
    </script>
{% endblock %}
