{% extends 'simgun/base.html' %}

{% block title %}
    <title>زنبیل - پروفایل ارائه‌دهنده‌ی کتاب</title>
{% endblock %}

{% block styles %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'vendors/css/style-seller-profile.css' %}"/>
{% endblock %}

{% block content %}

    <div class="ui container con-margin page-wrap">
        <div class="ui grid container">
            <!-- information -->
            <div class="three wide column right aligned ">
                <h2 class="ui header">{{ user.first_name }}</h2>
                <div class="ui small rounded image center aligned">
                    <img src="/{{ vendor.avatar }}">
                </div>
                <div class="ui divider "></div>
                <div class="ui animated large relaxed link right aligned list">
                    <a class=" item right aligned" href="setting.html">تنظیمات</a>
                    <span class=" item" href="setting.html " id="single-book">اضافه کردن محصول</span>
                    <span class=" item" href="setting.html " id="multiple-book">اضافه کردن لیست محصولات</span>
                </div>

            </div>
            <!-- tab info -->
            <div class="thirteen wide column right floating">
                <div class="ui container">
                    <div class="ui top attached tabular menu">
                        <a class="active item back-grey" data-tab="first">
                            <span class="tab-title">پاسخ داده نشده</span>
                        </a>
                        <a class="item" data-tab="second">
                            <span class="tab-title">پاسخ داده شده</span>
                        </a>
                        </a>
                    </div>

                    <!-- first tab -->
                    <div class="ui bottom attached tab segment active back-grey" data-tab="first">
                        <table class="ui two column red small table">
                            <thead>
                            <tr>
                                <th>عنوان</th>
                                <th class="left aligned">پاسخ</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for u in unanswered %}
                                <tr>
                                    <td>{{ u.title }}</td>
                                    <td class="left aligned"><a class="setting-book link" href=""><i
                                            class="ui inverted orange setting icon"></i> </a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>
                    </div>


                    <div class="ui bottom attached tab segment active back-grey" data-tab="second">
                        <table class="ui two column red small table">
                            <thead>
                            <tr>
                                <th>عنوان</th>
                                <th class="left aligned">ویرایش</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for u in answered %}
                                <tr>
                                    <td>{{ u.title }}</td>
                                    <td class="left aligned"><a class="setting-book link" href=""><i
                                            class="ui inverted orange setting icon"></i> </a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>
                    </div>

{#                    <!-- second tab -->#}
{#                    <div class="ui bottom attached tab segment back-grey" data-tab="second">#}
{#                        <table class="ui teal table">#}
{#                            <thead>#}
{#                            <tr>#}
{#                                <th class="one wide">#</th>#}
{#                                <th class="four wide">شماره سفارش</th>#}
{#                                <th class="four wide">کاربر</th>#}
{#                                <th class="four wide">جمع کل قیمت (تومان)</th>#}
{#                                <th class="left aligned">جزییات</th>#}
{#                            </tr>#}
{#                            </thead>#}
{#                            <tbody>#}
{#                            {% for order in orders %}#}
{#                                <tr>#}
{#                                    <td>{{ forloop.counter }}</td>#}
{#                                    <td>KH-{% for order in orders %}#}
{#                                        {{ order.id }}#}
{#                                        {% endfor %}</td>#}
{#                                    <td class="three wide">{{ user_order }}</td>#}
{#                                    <td class="three wide">-</td>#}
{#                                    <td class="left aligned">#}
{#                                        <a class="ui circular icon button" href="#">#}
{#                                            <i class="payment icon"></i>#}
{#                                        </a>#}
{#                                    </td>#}
{#                                </tr>#}
{#                            {% endfor %}#}
{#                            <tr>#}
{#                                <td>2</td>#}
{#                                <td>KH-856970</td>#}
{#                                <td class="three wide">عسل عباسی ایرجی</td>#}
{#                                <td class="three wide">89,920</td>#}
{#                                <td class="left aligned">#}
{#                                    <a class="ui circular icon button" href="#">#}
{#                                        <i class="payment icon"></i>#}
{#                                    </a>#}
{#                                </td>#}
{#                            </tr>#}
{#                            </tbody>#}
{#                        </table>#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </div>


    <!-- modals -->
    <!-- adding single book -->
    <div class="ui modal" id="single-modal">
        <i class="close icon"></i>
        <div class="header">
            اضافه کردن محصول
        </div>
        <div class=" content">
            <div class="content-margin">
                <h5> لطفا مشخصات محصول مورد نظر خود را وارد کنید</h5>
                <p>** وارد کردن فیلد های ستاره دار اجباری است</p>
            </div>
            <span></span>
            <div class="description">
                <form class="ui form" id="add-book-form" action="{% url 'vendors:add_product' vendor.id %}" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
{#        {{ form.as_p }}#}
{#        {{ form.media }}#}
                    <div class="three fields">
                        <div class="required field">
                            <label>عنوان </label>
                            <input type="text" name="title" placeholder="عنوان محصول">
                        </div>
                        <div class="required field">
                            <label> موضوع</label>
                            <div class="ui search field">
                              <div class="ui icon input">
                                <input class="prompt" placeholder="موضوعات" type="text" name="category">
                                <i class="search icon"></i>
                              </div>
                              <div class="results"></div>
                            </div>
                        </div>
{#                        <div class="field">#}
{#                            <label> مترجم</label>#}
{#                            <input type="text" name="translator" placeholder="نام مترجم">#}
{#                        </div>#}
                    </div>
                    <div class="three fields">
                        <div class="required field">
                            <label>قیمت</label>
                            <input type="number" name="price" placeholder="قیمت">
                        </div>
                        <div class=" field">
                            <label>وزن</label>
                            <input type="number" name="weight" placeholder="وزن">
                        </div>
                        <div class=" field">
                            <label>تعداد </label>
                            <input type="number" name="itemCount" placeholder="تعداد ">
                        </div>
                    </div>

                    <div class="required field">
                        <label>توضیحات</label>
                        <textarea rows="2" name="description" placeholder="توضیحات"></textarea>
                    </div>
                    <div class="inline field">
                        <label>عکس محصول</label>
                        <input type="file" name="mainPic">
                    </div>
                </form>
            </div>
        </div>
        <div class="actions">
            <div id="add-book-submit" class="ui orange button">ذخیره</div>
            <div class="ui inverted grey button " id="single-cancel">بازگشت</div>
        </div>
    </div>

    <!-- adding list of books-->
    <div class="ui modal" id="multiple-modal">
        <i class="close icon"></i>
        <div class="header">
            اضافه کردن لیست کتاب ها
        </div>
        <div class=" content">
            <div class="content-margin">لطفا لیست کتاب خود را وارد کنید</div>
            <div class="description">
                <form class="ui form">
                    <div class="inline fields">
                        <div class="fourteen wide field">
                            <label>آدرس</label>
                            <input type="file" placeholder="ادرس">
                        </div>
                        <div class="ui button">بارگذاری</div>
                    </div>
                </form>
            </div>
        </div>
        <div class="actions">
            <div class="ui orange button">ذخیره</div>
            <div class="ui inverted grey button " id="multiple-cancel">بازگشت</div>
        </div>
    </div>

    <!-- setting modal -->
    <div class="ui modal" id="setting-modal">
        <i class="close icon"></i>
        <div class="header">
            تنظیمات کتاب
        </div>
        <div class=" content">
            <div class="content-margin">
                <p>** وارد کردن فیلد های ستاره دار اجباری است</p>
            </div>
            <span></span>
            <div class="description">
                <form class="ui form">
                    <div class="three fields">
                        <div class="required field">
                            <label>عنوان</label>
                            <input type="text" placeholder="نام کتاب">
                        </div>
                        <div class="required field">
                            <label> نویسنده</label>
                            <input type="text" placeholder="نام نویسنده">
                        </div>
                        <div class="field">
                            <label> مترجم</label>
                            <input type="text" placeholder="نام مترجم">
                        </div>
                    </div>
                    <div class="three fields">
                        <div class="required field">
                            <label>قیمت</label>
                            <input type="text" placeholder="قیمت">
                        </div>
                        <div class=" field">
                            <label>تخفیف</label>
                            <input type="text" placeholder="درصد تخفیف">
                        </div>
                    </div>
                    <div class="three fields">
                        <div class="required field">
                            <label>شابک</label>
                            <input type="text" placeholder="ISPN">
                        </div>
                        <div class="field">
                            <label>ناشر</label>
                            <input type="text" placeholder="ناشر">
                        </div>
                        <!-- TODO -->
                        <!--<div class=" field">-->
                        <!--<label>جلد</label>-->
                        <!--<input type="text" placeholder="جلد کتاب">-->
                        <!--</div>-->
                    </div>
                    <div class="required field">
                        <label>توضیحات</label>
                        <textarea rows="2" placeholder="توضیحات"></textarea>
                    </div>
                    <div class="inline field">
                        <label>جلد کتاب</label>
                        <input type="file">
                    </div>
                </form>
            </div>
        </div>
        <div class="actions">
            <div class="ui orange button">ذخیره</div>
            <div class="ui inverted grey button " id="setting-cancel">بازگشت</div>
        </div>
    </div>
    <!-- end modals -->

{% endblock %}

{% block scripts %}
    <script>

    var content = [
        {% for c in mainCategories %}
            { title: '{{ c }}' },
        {%  endfor %}


  // etc
];

$('.ui.search')
  .search({
    source: content
  });


    </script>
    <script src="{% static 'vendors/js/vendor-profile-script.js' %}"></script>
{% endblock %}