.card-blog {
    width: 490px !important;
}

.blog-margin {
    margin-top: 4.5rem;
    margin-bottom: 6.5rem;
}

.blog-divider {
    width: inherit;
}

.post-text {
    padding-left: 50px;
    padding-right: 50px;
}

.post-image {
    padding: 1rem 0 2rem 0;
}