{% extends './searchBase.html' %}

{% block noResults %}
    <div class="ui grid container center aligned row-margin1">
            <h2>متاسفانه نتیجه ای برای عبارت "{{ title }}" یافت نشد!</h2>
        </div>
{% endblock %}

{% block scripts %}
    <script>

        $("#submit_search_form").click(function () {

            var nonEmptyFields = $('#search_form').find(':input').filter(function () {
                return $(this).val().length == 0
            }).length;

            if (nonEmptyFields === 7) {
                $('#search_form').attr('onsubmit', 'return false;');
                alert("لطفا حداقل یک فیلد را پر کنید");

            } else {
                $('#search_form').attr('onsubmit', 'return true;');
                $('#search_form').find(':input').each(function () {
                    if ($(this).val() == '') {
                        $(this).remove();
                    }
                });
                $("#search_form").submit(function () {
                    return true;
                });
            }
        });

    </script>
    <script>
        $(function () {
            $('.ui.rating')
                .rating({
                    initialRating: 0,
                    maxRating: 5
                })
            ;
            $('#rate-star')
                .rating('setting', 'clearable', true)
            ;
            $('#rate-star2')
                .rating({
                    initialRating: 3,
                    maxRating: 5
                })
                .rating('disable')
            ;
            $('.ui.dropdown')
                .dropdown()
            ;
            $('.special.cards .image').dimmer({
                on: 'hover'
            });
        })
    </script>
    <script type="text/javascript">
        $('.ui.radio.checkbox')
            .checkbox()
        ;

    </script>

{% endblock %}
