{% extends 'simgun/base.html' %}

{% block title %}
    <title>ویرایش پروفایل</title>
{% endblock %}


{% block styles %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'profiles/css/style-settings.css' %}"/>
{% endblock %}

{% block content %}

        <div class="ui container setting-margin">

        <div class="ui grid container">
            <div class="row">
                <h1>تنظیمات</h1>
                <div class="ui divider setting-divider"></div>
            </div>
            <div class="row">
                <div class="four wide column">
                    <img class="ui small rounded image" src="/{{ user_profile.avatar }}">
                </div>
                <div class="two wide column">
                    <h3>نام کاربری</h3>
                </div>
                <div class="three wide column">
                    <h5>{{ user_profile.user.username }}</h5>
                </div>
            </div>
            <div class="row">
                <h3>اطلاعات شما</h3>
            </div>
            <div class="row">
                <div class="sixteen wide column">
                    <div class="ui  form">
                        <div class="ui inline two fields">
                            <div class="eight wide  field">
                                <label>نام</label>
                                <input type="text" placeholder="نام" value="{{ user_profile.user.first_name }}">
                            </div>
                            <div class="eight wide field">
                                <label>نام خانوادگی</label>
                                <input type="text" placeholder="نام خانوادگی" value="{{ user_profile.user.last_name }}">
                            </div>
                        </div>
                        <div class="ui inline two fields">
                            <div class="eight wide field">
                                <label>پست الکترونیکی</label>
                                <input type="text" placeholder="ایمیل" value="{{ user_profile.user.email }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui divider"></div>
            <div class="row">
                <h3>تغییر رمز عبور</h3>
            </div>
            <div class="row">
                <div class="sixteen wide column">
                    <div class="ui  form">
                        <div class="ui inline one fields">
                            <div class="eight wide  field">
                                <label>رمز عبور فعلی</label>
                                <input type="password" placeholder="رمز عبور فعلی">
                            </div>
                        </div>
                        <div class="ui inline one fields">
                            <div class="eight wide field">
                                <label>رمز عبور جدید</label>
                                <input type="password" placeholder="رمز عبور جدید">
                            </div>
                        </div>
                        <div class="ui inline one fields">
                            <div class="eight wide field">
                                <label>تکرار رمز عبور جدید</label>
                                <input type="password" placeholder="تکرار رمز عبور جدید">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui divider"></div>
        <div class="row">
            <h3>آدرس ها</h3>
        </div>
        <div class="row">
            <div>

                <div class="adr-fields">
                    <h5 id="close-icon-show">
                        <i class="close orange icon" id="close-icon"></i>
                        آدرس 1
                    </h5>
                    <div class="ui form">
                        <div class="ui three fields">
                            <div class="field">
                                <input type="text" placeholder="استان">
                            </div>
                            <div class="field">
                                <input type="text" placeholder="شهر">
                            </div>
                            <div class="field">
                                <input type="text" placeholder="تلفن">
                            </div>
                        </div>
                        <div class="ui  fields">
                            <div class="twelve wide  field">
                                <input type="text" placeholder="آدرس">
                            </div>
                            <div class="four wide  field">
                                <input type="text" placeholder="کد پستی">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="ui button button-margin" id="address-button">افزودن آدرس جدید</button>
            <div class="back-grey-menu " id="address-field">
                <div class="ui form">
                    <div class="ui three fields">
                        <div class="field">
                            <input type="text" placeholder="استان">
                        </div>
                        <div class="field">
                            <input type="text" placeholder="شهر">
                        </div>
                        <div class="field">
                            <input type="text" placeholder="تلفن">
                        </div>
                    </div>
                    <div class="ui  fields">
                        <div class="twelve wide  field">
                            <input type="text" placeholder="آدرس">
                        </div>
                        <div class="four wide  field">
                            <input type="text" placeholder="کد پستی">
                        </div>
                    </div>
                </div>
                <button class="ui orange button " id="accept-button">ثبت</button>
            </div>
        </div>



        <div class="row">
            <div class="ui left floated orange button">ثبت تغییرات</div>
            <div class="ui left floated button">بازگشت</div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'profiles/js/settings.js' %}"></script>
{% endblock %}