{% extends 'books/../simgun/base.html' %}

{% block styles %}

    <link rel="stylesheet" type="text/css" href="{% static 'profiles/css/style-shopping-cart.css' %}"/>
{% endblock %}


{% block title %}
    <title>کتاب‌خوار - سبد خرید </title>
{% endblock %}

{% block content %}

    <div class="ui container">
        <div class="ui grid container center aligned">
            <div class="eleven wide column right aligned back-grey container-offset">
                <div class="ui grid container">
                    <div class="ui row">
                        <div class="center column center aligned">
                            <h4 class="ui header font-normal">سبد خرید</h4>
                        </div>
                    </div>
                    <div class="ui row">
                        <table class="ui celled structured table">
                            <thead class="back-grey-dark">
                            <tr>
                                <th>عنوان کتاب</th>
                                <th>نویسنده</th>
                                <th>قیمت واحد(تومان)</th>
                                <th>تخفیف</th>
                                <th>تعداد</th>
                                <th>قیمت نهایی</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for shoppingbag in shoppingbags %}
                                <tr class="bottom-line">
                                    <td>{{ shoppingbag.book.title }}</td>
                                    <td>{{ shoppingbag.book.author }}</td>
                                    <td>{{ shoppingbag.book.price }}</td>
                                    <td>-</td>
                                    <td>
                                        <select id="book-count{{ forloop.counter }}" class="ui dropdown">
                                            <option value="1">‍۱</option>
                                            <option value="2">۲</option>
                                            <option value="3">۳</option>
                                            <option value="4">۴</option>
                                            <option value="5">۵</option>
                                            <option value="6">۶</option>
                                            <option value="7">۷</option>
                                            <option value="8">۸</option>
                                            <option value="9">۹</option>
                                            <option value="10">۱۰</option>
                                        </select>

                                    </td>
                                    <td id="book-price-mul-count{{ forloop.counter }}">{{ shoppingbag.book.price }}</td>
                                    <td><img src="{% static 'site-media/photos/general/ic_remove_shopping_cart.svg' %}"></td>
                                </tr>
                            {% endfor %}
                            <tr class="empty-col">
                                <td class="empty-col"></td>
                                <td class="empty-col"></td>
                                <td class="empty-col"></td>
                                <td class="empty-col"></td>
                                <td colspan="3" class="right aligned white-bg">جمع کل خرید شما:</td>
                            </tr>
                            <tr class="empty-col">
                                <td class="empty-col"></td>
                                <td class="empty-col"></td>
                                <td class="empty-col"></td>
                                <td class="empty-col"></td>
                                <td colspan="3" class="right aligned pay-box-bg pay-box-border">مبلغ قابل پرداخت:</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="ui row">
                        <div class="ui grid container">
                            <div class="eight wide column right aligned">
                                <button  id="return-btn" class="ui button">بازگشت به صفحه اصلی</button>
                            </div>
                            <div class="eight wide column left aligned">
                                <button id="continue-btn" class="ui primary button">وارد کردن مشخصات</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    <script>
        $(function(){
            $('[id^=book-count]').each(function(i) {
                {#            console.log({{ shoppingbags }});#}
                var data = {{ shoppingbags }}
                    console.log(data)
            });
            $('[id^=book-price-mul-count]').each(function(i){
                var count = parseInt($('#book-count' + i).find(':selected').text());
                console.log(count);
            });

            $('#return-btn').click(function() {
                window.location.href = '/'
            });

            $('#continue-btn').click(function() {
                window.location.href = "{% url 'buying:order_info' %}"
            })
        });
    </script>
{% endblock %}
