{% extends 'simgun/base.html' %}

{% block styles %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'profiles/css/style-shopping-cart.css' %}"/>
{% endblock %}


{% block title %}
    <title>زنبیل - سبد خرید </title>
{% endblock %}

{% block content %}

    <div class="ui container">
        <div class="ui grid container center aligned">
            <div class="eleven wide column right aligned back-grey container-offset">
                <div class="ui grid container">
                    <div class="ui row">
                        <div class="center column center aligned">
                            <h4 class="ui header font-normal">سبد خرید</h4>
                        </div>
                    </div>
                    <div class="ui row">
                        <table class="ui celled structured table">
                            <thead class="back-grey-dark">
                            <tr>
                                <th>عنوان</th>
                                <th>قیمت واحد(تومان)</th>
                                <th>تعداد</th>
                                <th>قیمت اجناس</th>
                                <th>هزینه ارسال</th>
                                <th>هزینه نهایی</th>
{#                                <th>اضافه</th>#}
{#                                <th>حذف</th>#}
                                <th>وضعیت</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for sb in bag.shoppingbagproduct_set.all %}
                                <tr class="bottom-line sb">
                                    <td class="b-title">{{ sb.product }}</td>
                                    <td class="b-price">{{ sb.price }}</td>
                                    <td class="b-count">{{ sb.product_count }}</td>
                                    <td class="b-cost">{{ sb.get_sum }}</td>
                                    <td class="b-send-type">
                                        <select class="ui dropdown stype">
                                            {% for t in sb.product.productvendor_set.first.vendor.postprice_set.all %}
                                                <option value="{{ t.type }}:{{ t.price }}" data-value="{{ t.price }}">{{ t.get_type_str }} : {{ t.price }}</option>
                                            {% endfor %}

                                        </select>






                                    </td>
                                    <td class="b-sum">
                                        {% if sb.stat == -1 or not sb.get_sum|add:sb.product.productvendor_set.first.vendor.postprice_set.first.price%}
                                        0
                                            {% else if  %}
                                            {{ sb.get_sum|add:sb.product.productvendor_set.first.vendor.postprice_set.first.price }}
                                        {% endif %}
                                    </td>
{#                                     </td>#}
{#                                    <td>#}
{##}
{##}
{#                                    </td>#}
{#                                    <td>-</td>#}
                                <td class="b-stat">{{  sb.get_stat}}</td>
                                </tr>
                            {% endfor %}
{#                            <tr class="empty-col">#}
{#                                <td class="empty-col"></td>#}
{#                                <td class="empty-col"></td>#}
{#                                <td class="empty-col"></td>#}
{#                                <td class="empty-col"></td>#}
{#                                <td class="empty-col"></td>#}
{#                                <td class="empty-col"></td>#}
{##}
{#                                <td colspan="3" class="right aligned white-bg">جمع کل خرید شما: {{ bag.get_sum_price }}</td>#}
{#                            </tr>#}
                            <tr class="empty-col">
                                <td class="empty-col"></td>
                                <td class="empty-col"></td>
                                <td class="empty-col"></td>
                                <td class="empty-col"></td>

                                <td colspan="3" class="right aligned pay-box-bg pay-box-border">مبلغ قابل پرداخت: {{ bag.get_sum_price }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="ui row">
                            <div class="ui grid container">

                                <div class="ui two column grid" style="display: inline">
                                    <div class="four wide column" style="display: inline-block">
                                        <h3>آدرس انتخاب شده: </h3>
                                    </div>
                                    <div class="twelve wide column" style="display: inline-block">
                                        {% if bag.address %}
                                        <p> {{ bag.address.get_full_address }}</p>
                                        {% else %}
                                        <p> آدرسی انتخاب نشده است. لطفا درر قسمت ویرایش اطلاعات آدرسی را انتخاب کنید</p>
                                        {% endif %}
                                    </div>
                                </div>

                            </div>
                    </div>
                        <div class="ui row">
                        <div class="ui grid container">
                            <div class="eight wide column right aligned">
                                <button  id="return-btn" class="ui button" href="{% url 'profiles:shoppingbag' user.id %}">بازگشت به صفحه اصلی</button>
                            </div>

                            <div class="four wide column left aligned">
                                <button id="continue-btn" class="ui primary button">ویرایش اطلاعات</button>
                            </div>
                            <div class="four wide column left aligned">
                            {% if bag.status == 0 %}
                                <button id="buy-btn" class="ui secondary button"
                                        {% if not bag.address %}

                                            disabled
                                        {% endif %}

                                >خرید</button>
                            {% else %}
                                <button id="buy-btn" class="ui secondary button"
                                            disabled
                                >خرید انجام شده است</button>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    <script>

    $(document).ready(function () {
         $('.ui.dropdown').dropdown();


                     $('#buy-btn').click(function () {

                    var typeArray = $(".stype").map(function() {return $(this).val()}).get();
                    console.log(typeArray);
                $.ajax({
                    url: "{% url 'profiles:comp_shopping' user.id %}",
                    method: 'post',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
{#                        selected_address: se#}
                    },
                    success: function(data) {
                         window.location.href = '/';
                    },
                    error: function() {
                        console.error('eeeeerrrrrrooooorrrrrr');
                    }
                })
            });

    });
        $(function(){
            $('[id^=book-count]').each(function(i) {
                            console.log({{ shoppingbags }});
{#                var data = {{ shoppingbags }}#}
{#                    console.log(data)#}
            });
            $('[id^=book-price-mul-count]').each(function(i){
                var count = parseInt($('#book-count' + i).find(':selected').text());
                console.log(count);
            });

            $('#return-btn').click(function() {
                window.location.href = '/'
            });

            $('#continue-btn').click(function() {
                window.location.href = "{% url 'buying:order_info' user.id %}"
            })
        });


        function new_sum() {


        }

        $('.stype').on('change', function() {
            ele = $(this).closest("td[class='b-send-type']");
            send_price = $(this).val().split(":")[1];
            cost = ele.prev().html();
            ele.next().html(parseInt(send_price) + parseInt(cost));
            new_sum();
        });



    </script>
{% endblock %}
